{% extends "AppCoder/padre.html" %} 

{% block titulo %}
Nuestros Cursos
{% endblock %} 

{% block subtitulo %}
Todos nuestros cursos estan certificados por la Universidad Tecnologica Nacional y tienen validez internacional
{% for Training in listaCursos %}
    <p style="color: bisque;"> Curso: {{Training.nombre}} --> Camada: {{Training.camada}} --> Comisión: {{Training.comision}}</p>

{% endfor %}

<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="btn btb-primary" href="{% url 'Nuevo Curso'%}">Nuevo Curso</a>
    </div>
</nav>

{% endblock %} 